.ova-contact-info {
  display: flex;
  align-items: center;
}
.ova-contact-info .circle {
  border-radius: 50%;
  background-image: -moz-linear-gradient(0deg, #5f2dee 0%, #b882fc 100%);
  background-image: -webkit-linear-gradient(0deg, #5f2dee 0%, #b882fc 100%);
  background-image: -ms-linear-gradient(0deg, #5f2dee 0%, #b882fc 100%);
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
  min-width: 91px;
  height: 91px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}
.ova-contact-info .icon {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: var(--primary);
}
.ova-contact-info .icon i {
  display: inline-flex;
}
.ova-contact-info.template1 {
  column-gap: 12px;
}
.ova-contact-info .contact .label {
  font-size: 15px;
  padding: 0;
  font-weight: 500;
  line-height: 1.2;
  margin: 0 0 10px 0;
}
.ova-contact-info .contact .info {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.ova-contact-info .contact .info .item {
  color: var(--heading);
}
.ova-contact-info .contact .info .item a {
  display: inline-block;
  line-height: 1.4;
  color: var(--heading);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}
.ova-contact-info .contact .info .item a:before {
  position: absolute;
  content: "";
  width: 0%;
  height: 1px;
  left: 0px;
  bottom: 0px;
  transition: all 500ms ease;
  background-color: var(--primary);
}
.ova-contact-info .contact .info .item a:hover {
  color: var(--primary);
}
.ova-contact-info .contact .info .item a:hover:before {
  width: 100%;
}