.ova-counter {
  position: relative;
  display: inline-block;
  background-color: var(--secondary);
  padding: 20px 36px;
}
.ova-counter:hover .title {
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.ova-counter:hover .odometer {
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.ova-counter .odometer {
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
}
.ova-counter .odometer .odometer-formatting-mark {
  display: none;
}
.ova-counter .suffix {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  vertical-align: middle;
}
.ova-counter .title {
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  color: #fff;
}
.ova-counter .icon {
  position: absolute;
  left: 50%;
  bottom: calc(100% - 24px);
  transform: translateX(-50%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 10px 60px rgba(165, 165, 165, 0.25);
}
.ova-counter .icon i {
  display: inline-flex;
  font-size: 50px;
  color: var(--primary);
}
.ova-counter .icon svg {
  width: 50px;
  height: 50px;
  fill: var(--primary);
}
.ova-counter .icon svg path {
  fill: var(--primary);
}
.ova-counter.ova-counter-template1:before {
  position: absolute;
  content: "";
  bottom: 15px;
  left: -20px;
  width: 0;
  border-top: 20px solid transparent;
  border-bottom: 17px solid transparent;
  border-right: 20px solid var(--secondary);
}
.ova-counter.ova-counter-template2 {
  max-width: 208px;
}
.ova-counter.ova-counter-template2.has-mask-image {
  -webkit-mask-image: url("../../img/elementor/vector.png");
  mask-image: url("../../img/elementor/vector.png");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
.ova-counter.ova-counter-template2 .odometer {
  font-size: 40px;
  font-weight: 800;
}
.ova-counter.ova-counter-template2 .title {
  font-size: 18px;
  font-weight: 400;
}
.ova-counter.ova-counter-template3 {
  padding: 0;
  background-color: #fff;
  text-align: center;
}
.ova-counter.ova-counter-template3 .odometer {
  color: var(--heading);
  font-size: 60px;
  font-weight: 800;
}
.ova-counter.ova-counter-template3 .suffix {
  color: var(--heading);
  font-size: 36px;
  font-weight: 800;
}
.ova-counter.ova-counter-template3 .title {
  text-transform: uppercase;
  color: var(--primary);
  font-weight: 800;
  border: 1px solid #f4f2f9;
  padding: 14px 30px;
  line-height: 1;
}